@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.color-primary {
  color: $color-primary;
}
.color-white {
  color: #fff;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.ttu {
  text-transform: uppercase;
}
.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 4rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mb-7 {
  margin-bottom: fluid(40, 70);
}
.mb-8 {
  margin-bottom: fluid(40, 80);
}
.mb-13 {
  margin-bottom: fluid(50, 130);
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.py-9 {
  padding-top: fluid(30, 90);
  padding-bottom: fluid(30, 90);
}